html {
    font-family: ubuntu, sans-serif;
}

#mortalityParamsChangedH5 {
    color: red;
}

#lifeExpParamsChangedH5 {
    color: red;
}

#mapsParamsChangedH5 {
    color: red;
}

#updateDatabaseButton {
    color: red;
}

td {
    width: 100%;
}

hr {
    border-top: 1px solid rgb(83,83,83);
}

